@media screen and (max-width: 780px){
    #burguer{
        display: block;
        color: whitesmoke;
        background-color: rgb(47, 56, 56);
        text-align: center;
        padding: 8px;
    }
    
    #burguer:hover{
        color: darkcyan;
        background-color: whitesmoke;
        cursor: pointer;
    }

    li{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    ul{
        list-style-type: none;
    }

    main{
        width: 90%;
        margin: auto;
        background-color: green;
        border-radius: 5px;
        padding: 15px;
        margin-top: 30px;
        line-height: 20px;
        text-indent: 20px;
    }
}