@charset "UFT-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(93, 90, 90);
}

header{
    background-color: rgb(72, 85, 85);
}


header h1{
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

#burguer{
    display: block;
    color: whitesmoke;
    background-color: darkcyan;
    text-align: center;
    padding: 8px;
}

#burguer:hover{
    color: darkcyan;
    background-color: whitesmoke;
    cursor: pointer;
}

menu{
    display: none;
}

.ativar{
    display: block;
}

ul{
    list-style-type: none;
}

a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: darkgray;
    color: black;
    border-top: 2px solid black;
}

a:hover{
    background-color: darkcyan;
    color: whitesmoke;
    cursor: pointer;
}

main{
    width: 90%;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.812);
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    line-height: 20px;
    text-indent: 20px;
}

main h2{
    margin-bottom: 20px;
}

main p{
    margin-bottom: 15px;
}

footer{
    background-color: rgb(47, 56, 56);
    text-align: center;
    height: 100px;
    padding-top: 30px;
    margin-top: 30px;
    color: whitesmoke;
}